@font-face {
    font-family: 'KoreanKRSM';
    src: url(../../assets/fonts/KoreanKRSM.woff) format('woff');
}

.chatMessage {
    display: grid;

    grid-template-areas: "avatar message";
    grid-template-columns: 20vh min-content;
    align-items: flex-end;
    justify-content: space-around;
}

.chatMessage .avatar {
    position: relative;
    grid-area: avatar;
    height: 15vh;
}

.chatMessage .avatar .outerBlackBorder {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    /* clip-path: polygon(0 0, 76% 0, 100% 62%, 27% 100%); */
    clip-path: polygon(0 20%, 76% 20%, 100% 70%, 27% 100%);
    width: 100%;
    height: 100%;
}

.chatMessage .avatar .outerBlackBorder .innerWhiteBorder {
    background: white;
    /* clip-path: polygon(8% 5%, 75% 6%, 92% 60%, 32% 85%); */
    clip-path: polygon(8% 24%, 75% 24.8%, 92% 68%, 32% 88%);
    width: 100%;
    height: 100%;
}

.chatMessage .avatar .outerBlackBorder .innerWhiteBorder .background {
    /* clip-path: polygon(14% 14%, 75% 9%, 89% 57%, 34% 78%); */
    clip-path: polygon(14% 31.2%, 75% 27.2%, 89% 65.6%, 34% 82.4%);
    width: 100%;
    height: 100%;
}

.chatMessage .avatar .avatarImage {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 89% 65.6%, 34% 82.4%, 14% 31.2%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.chatMessage .message {
    grid-area: message;
    height: 20vh;
    color: white;
    font-family: 'KoreanKRSM';
    font-size: medium;
    margin-left: -5vw;
    padding-bottom: 2vh;
    z-index: 10;
}

.chatMessage .message .outerWhiteBorder {
    background: white;
    clip-path: polygon(0 130px, 7% 96px, 8.5% 105px, 10% 100px, 12% 32%, 100% 0, 93% 84%, 7.5% 100%, 8.75% 83.5%, 5% 148px, 4.5% 120px);
    width: 100%;
    height: 100%;
}