@font-face {
    font-family: 'KoreanKRSM';
    src: url(../../assets/fonts/KoreanKRSM.woff) format('woff');
}

.chatsListElement {
    cursor: pointer;
}

.chatsListElement .dateMonthForeignContent,
.chatsListElement .dateSlashForeignContent,
.chatsListElement .dateDayForeignContent {
    display: flex;

    font-family: 'KoreanKRSM';
    color: black;
    transform: rotate(-5deg);
}

.chatsListElement .dateDowForeignContent {
    display: flex;

    font-family: 'KoreanKRSM';
    color: white;
    transform: rotate(5deg);
}

.chatsListElement .avatarForeignContent {
    display: flex;

    transform: rotate(-10deg);
}

.chatsListElement .dateMonth,
.chatsListElement .dateSlash,
.chatsListElement .dateDay,
.chatsListElement .dateDow,
.chatsListElement .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.chatsListElement .dateMonth p,
.chatsListElement .dateSlash p,
.chatsListElement .dateDay p,
.chatsListElement .dateDow p {
    margin: 0;
}

.chatsListElement .dateSlash p {
    font-size: 1.8vh;
}

.chatsListElement .dateDow p {
    font-size: 2.1vh;
}

.chatsListElement .avatar {
    background: #676767;
}

.chatsListElement:hover .avatar {
    background: var(--hovered-color);
}

.chatsListElement .avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.chatsListElement .foreignContent {
    display: grid;

    font-family: 'KoreanKRSM';
    color: white;
    transform: rotate(-5deg);
    text-align: left;
}

.chatsListElement .foreignContent .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chatsListElement .foreignContent .content p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: '...';
}